.main{
    padding: 100px 20px 50px 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.box{
    border-radius: 8px;
    margin: 15px auto;
    width: 45%;
    min-width: 250px;
    text-align: center;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.pic{
    max-width: 100%;
    height: 200px;
}
.btn{
    width: 80%;
    box-shadow: indianred;
    border-style: double;
    border-radius: 9px;
    background-color: darkcyan;
    padding: 8px 20px;
    color: white;
    font-weight: 900;
    padding: 20 auto;
    box-shadow: 2px 3px 4px black;
}